<div class="container">
  <mat-card class="example-card">

    <mat-card-title>Editar Usuario</mat-card-title>
    <form class="example-form" [formGroup]="miFormulario" (ngSubmit)="guardarDatos()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre">
              <mat-error *ngIf="myError('nombre', 'required')">NOMBRE is required</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Denominacion</mat-label>
              <input matInput formControlName="denominacion">
              <mat-error *ngIf="myError('denominacion', 'required')">La denominacion is required</mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput formControlName="username">
              <mat-error *ngIf="myError('username', 'required')">USERNAME is required</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="myError('email', 'required')">Email is required</mat-error>
              <mat-error *ngIf="myError('email', 'email')">Email is Error</mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" id="password">
              <mat-error *ngIf="myError('password', 'required')">password is required</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Re-Password</mat-label>
              <input matInput formControlName="confirmarPassword" id="confirmarPassword">
              <mat-error *ngIf="myError('confirmarPassword', 'required')">confirmarPassword is required</mat-error>
            </mat-form-field>

          </td>
        </tr>
        <mat-error *ngIf="miFormulario.hasError('coincidenciaPassword')">xxxxx</mat-error>
        <tr>
          <td>
            <div class="float-sm-left"><button type="submit"  class="btn btn-primary" >Guardar</button></div>
          </td>
          <td>
            <div class="float-sm-right">
              <button class="btn btn-primary" (click)="onVolver()">
                Volver
              </button>
            </div>
          </td>
        </tr>
      </table>
    </form>
  </mat-card>
</div>
