
  <form>
    <div class="container">
      <div class="card card-primary card-outline card-outline-tabs">
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>PROMOCIONES</mat-label>
          <mat-chip-list #chipGrid aria-label="Fruit selection">
            <mat-chip *ngFor="let opcion of opciones_seleccionadas" (removed)="remove(opcion)" >
              {{ opcion }} 
              <button matChipRemove [attr.aria-label]="'remove ' + opcion">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
          <input placeholder="Nueva Promo..." 
                 #opcionInput 
                 [formControl]="opcionCtrl" 
                 [matChipInputFor]="chipGrid"
                 [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" >
            <mat-option *ngFor="let opcion of opcionesfiltradas | async" [value]="opcion" >
              {{ opcion }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </form>

