<div class="tarjeta-container">
  <mat-form-field class="col-md-6">
    <mat-label>Nombre/Codigo</mat-label>
    <input matInput type="text" class="form-control" name="filtrado" id="filtrado" [(ngModel)]="filtrado"
      (keyup.Enter)="busqueda(filtrado)" (keyup.F4)="busqueda(filtrado)" (keyup.escape)="limpiar()">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field class="col-md-6">
    <mat-label>Denominacion</mat-label>
    <input matInput type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="nombre" readonly>
  </mat-form-field>
</div>



<!-- <div *ngIf="mostrarSwitch == true">
  <app-tabla-seleccion [data]="data$" [filtradi]="filtrado" [columns]="tableColumns" [config]="tableConfig"
  (select)="onSelect($event)" (borrar)="onSelect($event)"></app-tabla-seleccion>
  </div> -->
<!-- <input type="text" class="form-control" name="filtrado" [(ngModel)]="filtrado" (ngModelChange)="busqueda($event) "> -->
