<div class="container">
  <mat-card class="example-card">

    <mat-card-title>Crear Usuario</mat-card-title>
    <form class="example-form" [formGroup]="miFormulario" (ngSubmit)="guardarDatos()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Apellido</mat-label>
              <input matInput formControlName="apellido">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="myError('email', 'required')">Email is required</mat-error>
              <mat-error *ngIf="myError('email', 'email')">Email is Error</mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Re-Password</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <div class="float-sm-left"><button type="submit"  class="btn btn-primary" >Guardar</button></div>
          </td>
          <td>
            <div class="float-sm-right">
              <button class="btn btn-primary" (click)="onVolver()">
                Volver
              </button>
            </div>
          </td>
        </tr>
      </table>
    </form>
  </mat-card>
</div>
